<nav>
    <div class="mainlogo">
        <img src="/assets/akiko-sherman-logo.png" alt="AKIKO SHERMAN INFOTECH Logo" onclick="window.location.href='/'">
        <a href="/" class="logo">AKIKO SHERMAN INFOTECH</a>
    </div>
    <div class="icon">
        <span class="fas fa-bars"></span>
        <!-- Changed fa to fas -->
    </div>
    <ul>
        <li><a href="/company.html">The Company</a></li>
        <li>
            <a href="#">Services <i class="fas fa-chevron-down dropdown-arrow"></i></a>
            <ul>
                <li><a href="/ai.html">AI & ML</a></li>
                <li><a href="/egov.html">E-Governance</a></li>
                <li><a href="/ecom.html">E-commerce</a></li>
                <li><a href="/web.html">Web & Mobility</a></li>
                <li><a href="/salesforce.html">Salesforce Implementation</a></li>
                <li><a href="/staffing.html">Staffing & Support</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Solutions <i class="fas fa-chevron-down dropdown-arrow"></i></a>
            <ul>
                <li><a href="/farm2plate.html">Farm2Plate</a></li>
                <li><a href="/infracon.html">Infracon</a></li>
                <li><a href="/land.html">Land Acquisition</a></li>
                <li><a href="/owc.html">OWC</a></li>
                <li><a href="/tamra.html">Tamra</a></li>
                <li><a href="/smartmeter.html">Smart Meter</a></li>
            </ul>
        </li>
        <li><a href="/technology.html">Technologies</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="/contact.html">Contact</a></li>
    </ul>
</nav>